<?xml version="1.0"?>
<config>
  <modules>
    <Hanabi_Nopayment>
      <version>1.0.0.0</version>
    </Hanabi_Nopayment>
  </modules>
  <global>
    <fieldsets>
      <sales_convert_quote_payment>
        <payment_description>
          <to_order_payment>*</to_order_payment>
        </payment_description>
      </sales_convert_quote_payment>
    </fieldsets>
    <helpers>
      <hanabi_nopayment>
        <class>Hanabi_Nopayment_Helper</class>
      </hanabi_nopayment>
    </helpers>
    <blocks>
      <hanabi_nopayment>
        <class>Hanabi_Nopayment_Block</class>
      </hanabi_nopayment>
    </blocks>
    <models>
      <hanabi_nopayment>
        <class>Hanabi_Nopayment_Model</class>
      </hanabi_nopayment>
    </models>
    <events>
        <sales_order_place_after>
            <observers>
                <auto_invoice_order>
                    <type>singleton</type>
                    <class>Hanabi_Nopayment_Model_Observer</class>
                    <method>implementOrderStatus</method>
                </auto_invoice_order>
            </observers>
        </sales_order_place_after>
    </events>
    <resources>
      <hanabi_nopayment_setup>
        <setup>
          <module>Hanabi_Nopayment</module>
        </setup>
      </hanabi_nopayment_setup>
    </resources>
  </global>
  <default>
    <payment>
      <hanabi_nopayment>
        <active>1</active>
        <model>hanabi_nopayment/nopayment</model>
        <order_status>pending</order_status>
        <title>No Payment Taken Through Website</title>
        <allowspecific>0</allowspecific>
        <payment_action>sale</payment_action>
      </hanabi_nopayment>
    </payment>
  </default>
  <frontend>
    <routers>
      <hanabi_nopayment>
        <use>standard</use>
        <args>
          <module>Hanabi_Nopayment</module>
          <frontName>nopayment</frontName>
        </args>
      </hanabi_nopayment>
    </routers>
  </frontend>
</config>
